In [1]:
import pandas as pd

In [16]:
nba_player = pd.read_csv('nba_players_adapted.csv')
nba_teams = pd.read_csv('nba_teams.csv')
nba_player.columns

Index(['player_id', 'name', 'height', 'weight', 'team', 'position'], dtype='object')

In [ ]:
#Diccionario de abreviaciones de equipos


team_abbreviations = {
    1610612737: 'ATL',  # Atlanta Hawks
    1610612738: 'BOS',  # Boston Celtics
    1610612739: 'CLE',  # Cleveland Cavaliers
    
    1610612740: 'NOP',  # New Orleans Pelicans
    1610612741: 'CHI',  # Chicago Bulls
    1610612742: 'DAL',  # Dallas Mavericks
    1610612743: 'DEN',  # Denver Nuggets
    1610612744: 'GSW',  # Golden State Warriors
    1610612745: 'HOU',  # Houston Rockets
    1610612746: 'LAC',  # LA Clippers
    1610612747: 'LAL',  # Los Angeles Lakers
    1610612748: 'MIA',  # Miami Heat
    1610612749: 'MIL',  # Milwaukee Bucks
    1610612750: 'MIN',  # Minnesota Timberwolves
    1610612751: 'BKN',  # Brooklyn Nets
    1610612752: 'NYK',  # New York Knicks
    1610612753: 'ORL',  # Orlando Magic
    1610612754: 'IND',  # Indiana Pacers
    1610612755: 'PHI',  # Philadelphia 76ers
    1610612756: 'PHX',  # Phoenix Suns
    1610612757: 'POR',  # Portland Trail Blazers
    1610612758: 'SAC',  # Sacramento Kings
    1610612759: 'SAS',  # San Antonio Spurs
    1610612760: 'OKC',  # Oklahoma City Thunder
    1610612761: 'TOR',  # Toronto Raptors
    1610612762: 'UTA',  # Utah Jazz
    1610612763: 'MEM',  # Memphis Grizzlies
    1610612764: 'WAS',  # Washington Wizards
    1610612765: 'DET',  # Detroit Pistons
    1610612766: 'CHA'   # Charlotte Hornets
}

In [ ]:
#agregacion de abbreviation a csv teams 

nba_teams['abbreviation'] = nba_teams['team_id'].map(team_abbreviations)

In [19]:
team_mapping = nba_teams.set_index('abbreviation')['team_id'].to_dict()

# Mapear las abreviaturas en players_df al team_id correspondiente
nba_player['team_id'] = nba_player['team'].map(team_mapping)

In [20]:
nba_player.head()

,player_id,name,height,weight,team,position,team_id
0,1630173,Precious Achiuwa,6-8,243.0,NYK,Forward,1.610613e+09
1,203500,Steven Adams,6-11,265.0,HOU,Center,1.610613e+09
2,1628389,Bam Adebayo,6-9,255.0,MIA,Center-Forward,1.610613e+09
3,1630534,Ochai Agbaji,6-5,215.0,TOR,Guard,1.610613e+09
4,1630583,Santi Aldama,7-0,215.0,MEM,Forward-Center,1.610613e+09

In [ ]:


resultado = nba_player.loc[nba_player['name'].str.contains('Bam Adebayo', case=False), 'team_id'].iloc[0] == nba_teams.loc[nba_teams['abbreviation'] == 'MIA', 'team_id'].iloc[0]
resultado

np.True_

In [24]:
nba_player.to_csv('nba_players_adapted.csv', index=False)